
.board-main{
    background-color: #fff; 
    width: 90%;
    margin: 0 auto;
    margin-top: 110px;
    padding: 50px;
    box-sizing: border-box;
}

.board-title{
    position: relative;
    padding: 20px;
    font-size: 1.5rem;
}

.board-title a{
    display: block;
    position: absolute;
    right: 5px;
    top: 20px;
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 2px solid #636e72;
    border-radius: 5px;
    color: #FFF;
    background-color: #636e72;
    text-align: center;
    font-size: 22.5px;
    transition: .5s;
}

.board-title a:hover{
    background-color: #fff;
    color: #636e72;
    border-color: #fff;
}

.board-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* 게시판 상세 */

.board-subtitle{
    width: 70%;
    height: 70px;
    background-color: #cce;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}


.board-subtitle input{
    width: calc(100% - 20px);
    height: 50px;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    outline: none;
}

.board-body{
    height: 500px;
    overflow-y: scroll;
    padding: 20px;
    margin: 0;
}

.board-body textarea{
    resize: none;
    width: 80%;
    height: 400px;
    padding: 30px;
    outline: none;
    font-size: 1rem;
}

.list-box-border{
    width: 440px;
    height: 290px;
    padding: 5px;
    margin: 40px;
    border-radius: 5px;
    background: #2d343688;
}

.list-box{
    position: relative;
    display: block;
    width: 400px;
    height: 250px;
    background-color: #fffd;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
}

.list-box-title, .list-box-body{
    padding: 0 10px;
}

.list-box-body{
    height: 60%;
    overflow-y: scroll;
}

.list-box-line{
    content: "";
    background-color: black;
    width: 100%;
    height: 0.5px;
    margin: 15px auto;
}

.list-edit a{
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s;
    color: #636e72;
}

.list-edit a:hover{
    transform: scale(1.4);
}

.list-box-info{
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.board-line{
    background-color: #cce;
}

.board-option{
    position: relative;
    display: flex;
    width: 100%;
}

.board-option-btn{
    position: relative;
    display: block;
    left: 20px;
    top: 50%;
    width: 100px;
    height: 40px;
    outline: none;
    background-color: white;
    font-size: 1.2rem;
    margin: 20px 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.board-option-btn-submit{
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

.board-option-btn-cancle{
    background-color: #e74c3c;
    color: white;
    border-color: #e74c3c;
}

.board-option-btn-cancle a:visited{
    color: white;
}

.board-pager{
    display: flex;
    margin: 20px;
    justify-content: center;
}


.pager{
    margin: 20px;
    font-size: 1.6rem;
}

.pager a{
    text-decoration: none;
}

.pager a:hover{
    cursor: pointer;
    color: rgb(75, 199, 236);
    transition: 0.3s;
}

/*게시판 상세 조회 board-info.html*/
.detail-board-list{
    width: 75%;
    margin: 0 auto;
    height: 100%;
    background: #2d343688;
    padding: 5px 10px;
    border-radius: 5px;
}


.detail-list-box{
    margin: 0;
    width: 100%;
    background-color: #fffd;
    min-height: 400px;
    border: none;
    border-radius: 5px;
}

.detail-list-title{
    margin: 10px;
    padding: 10px;
}

.detail-list-body{
     margin: 10px;
     padding: 10px;
     min-height: 350px;
}

.detail-list-info{
    margin: 10px;
    padding: 10px;
}

/*댓글*/
.comment-box{
    width: 100%;
    overflow-y: scroll;
    height: 240px;
    margin: 0 auto;
    box-sizing: border-box;
}

.comment-list-detail{
    background: #ced6e044;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.comment-list-detail-name{
    background-color: #ced6e0cc;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.comment-add{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px auto;
}

.comment-add-text{
    display: block;
    width: 92%;
    height: 80px;
    resize: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

.comment-add-submit{
    display: block;
    width: 6%;
    height: 80px;
    outline: none;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    font-weight: bolder;
    transition: .4s;
}

.comment-add-submit:hover{
    cursor: pointer;
    background-color: #2ecc71aa;
}


@media screen and (max-width: 1260px){
    .list-box{
        width: 300px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1100px){
    body{
        font-size: 16px;
    }

    .board-main{
        width: 100%;
        margin: 0;
        margin-top: 90px;
        padding: 30px;
    }

    .board-subtitle, .board-body{
        width: calc(100% - 40px);
    }

    .board-body textarea{
        width: calc(100% - 60px);
    }

    .board-list{
        display: block;
    }

    .list-box-border{
        width: calc(100% - 40px);
        margin: 60px auto;
    }

    .list-box{
        width: calc(100% - 40px);
        font-size: 1.3rem;
    }

    .board-option{
        justify-content: center;
    }

    .board-option-btn{
        left: 0;
        font-weight: bolder;
    }

    .detail-board-list{
        width: 100%;
    }

    .comment-add{
        display: block;
    }

    .comment-add-text{
        width: 100%;
    }

    .comment-add-submit{
        width: 50%;
        margin: 20px auto;
        font-size: 1.5rem;
    }

}